<template name="About">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<p>
					I created i.DESIgns for the trend setters who love a classic style with a modern twist. With a love for both fashion and the entertainment industry, I quickly learned that every individual has a unique style of characteristics. Inspired to take this passion to the next step by creating for others, I recognize that nobody can be like you... so why not add a statement piece to let you shine as you should? Each fabric is handpicked to make these custom pieces stand out. 
				</p>
				<p>
					Please contact me for custom orders for both men and women as well as kids and pets.
				</p>
				<p>	
					<a href="mailto:iloveiDESIgns@gmail.com" class="highlight">iloveiDESIgns@gmail.com</a>
				</p>
			</div>
		</div>
	</div>
</template>