<template name="Header">
	<div id="header">
		{{#linkTo route="home"}}
			<img src="/img/idesigns-logo-small.png" class="logo"/>
		{{/linkTo}}
		<div class="mobile-menu row text-center visible-xs visible-sm">
			<div class="col-xs-3">
				{{#linkTo route="home"}}
					Home
				{{/linkTo}}
			</div>
			<div class="col-xs-3">
				{{#linkTo route="about"}}
					About
				{{/linkTo}}
			</div>
			<div class="col-xs-3">
				{{#linkTo route="contact"}}
					Contact
				{{/linkTo}}
			</div>
			<div class="col-xs-3">
				<a href="http://iloveidesigns.etsy.com">
					Shop
				</a>
			</div>
		</div>
	</div>
</template>